.center {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow-y: hidden;
    /*  */
    transform: translate(-50%, 50%);
}

.down {
    position: relative;
    overflow: hidden;
    /*  */
    width: 50px;
    height: 80px;
    border-radius: 25px;
    border: 4px solid var(--white);
    /*  */
    background: transparent;
}

.down a {
    width: 100%;
    height: 100%;
}

.down:before {
    content: "";
    left: 50%;
    top: 10px;
    /*  */
    position: absolute;
    /*  */
    width: 8px;
    height: 8px;
    border-radius: 50%;
    /*  */
    background: var(--white);
    /*  */
    transform: translate(-50%, 0);
    animation: dotJump 1s linear infinite;
}

.down:after {
    content: "";
    /*  */
    position: absolute;
    left: 50%;
    top: 5px;
    /*  */
    width: 8px;
    height: 15px;
    border-radius: 3px;
    /*  */
    background: #fff;
    /*  */
    transform: translate(-50%, 0);
}

@keyframes dotJump {
    0% {
        transform: translate(-50%, 20px);
        opacity: 1;
    }
    80% {
        transform: translate(-50%, 60px);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, 100px);
        opacity: 0;
    }
}


/* Response */

@media only screen and (min-width: 768px) and (max-width: 912px) {
    .down {
        width: 45px;
        height: 75px;
        border: 3px solid #fff;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .center {
        top: 60%;
    }
    .down {
        width: 30px;
        height: 50px;
        border: 2px solid #fff;
    }
    .down:before {
        top: -3px;
        /*  */
        width: 5px;
        height: 5px;
    }
    .down:after {
        top: 2px;
        /*  */
        width: 5px;
        height: 10px;
    }
}

@media only screen and (min-width: 240px) and (max-width: 575px) {
    .center {
        top: 62%;
    }
    .down {
        width: 25px;
        height: 45px;
        border: 2px solid #fff;
    }
    .down:before {
        top: -3px;
        /*  */
        width: 3px;
        height: 5px;
    }
    .down:after {
        top: 2px;
        /*  */
        width: 3px;
        height: 8px;
    }
}