.interests {
    font-family: Brandon, sans-serif;
}

.card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /*  */
    width: 100%;
}

.card {
    position: relative;
    /*  */
    overflow: hidden;
    /*  */
    width: 30%;
    margin: 20px 0;
}

.card,
.card .face {
    height: 200px;
}

.card .face {
    position: relative;
    /*  */
    display: flex;
    justify-content: center;
    align-items: center;
    /*  */
    transition: 0.5s;
}

.card .face.face1 {
    z-index: 1;
    /*  */
    transform: translateY(0px);
}

.card .face.face1 .content {
    transition: 0.5s;
}

.card .face.face1.coding {
    background: url("../image/coding.jpg");
    background-size: cover;
}

.card .face.face1.booking {
    background: url("../image/book.jpg");
}

.card .face.face1.travelling {
    background: url("../image/travelling.jpg");
}

.card .face.face1.news {
    background: url("../image/news.jpg");
    background-size: cover;
}

.card .face.face1.game {
    background: url("../image/gamming.jpg");
    background-size: cover;
}

.card .face.face1.music {
    background: url("../image/music.jpg");
    background-size: cover;
}

.card .face.face1 img {
    width: 130px;
    height: 130px;
    /*  */
    transform: scale(0.8);
}

.card .face.face1 h3 {
    text-align: center;
}

.card:hover .face.face1 {
    transform: translateY(-200px);
}

.card:hover .face.face1 .content {
    transform: scale(1.2);
}

.card .face.face2 {
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    /*  */
    background: var(--white);
    /*  */
    transform: translateY(-100px);
}

.card:hover .face.face2 {
    transform: translateY(-200px);
    transition: 0.6s;
}

.card .face.face2 .content p {
    margin: 0;
    padding: 0;
    /*  */
    color: var(--black);
}


/* Response */

@media only screen and (min-width: 913px) and (max-width: 1199px) {
    .card {
        width: 30%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 912px) {
    .card {
        width: 49%;
    }
    .card .face.face2 {
        padding: 10px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .card {
        width: 49%;
    }
    .card .face.face2 {
        padding: 8px;
    }
}

@media only screen and (min-width: 240px) and (max-width: 575px) {
    .card-container {
        justify-content: center;
    }
    .card {
        width: 85%;
        height: 150px;
    }
    .card .face.face1 .content {
        height: 150px;
    }
    .card .face.face1 img {
        width: 80px;
        height: 80px;
    }
    .card .face.face2 {
        padding: 5px;
        height: 150px;
    }
}